.ingredient-details {
    text-align: center;
  }
  
  .ingredient-details__image {
    width: 100%;
    height: auto;
    margin-bottom: 20px;
  }
  
  .ingredient-details__name {
    font-size: 24px;
    margin-bottom: 20px;
    color: #fff;
  }
  
  .ingredient-details__list {
    list-style: none;
    padding: 0;
    margin:0;
    color: #fff;
  }
  
  .ingredient-details__item {
    display: flex;
    justify-content: space-between;
    margin-bottom: 10px;
  }
  
  .ingredient-details__item span:first-child {
    color: #8a8a8a;
  }
  