  .input_section {
    margin-top: 24px;
    width: 100%;
    text-align: center;
    align-items: center;
    margin-left: 48px;
  }
  
  .button_section {
    margin-top: 24px;
    text-align: center;
  }

  .link_section {
    margin-top: 80px; 
    text-align: center;
  }
  
