.profile_container {
    margin-top: 120px;
    display: flex;
    flex-direction: row;
    justify-content: center; 
    align-items: flex-start;
    margin-right: 350px;
}

.profile_form {
    margin-left: 80px; 
    width: 400px;
}

.sidebar {
    width: 200px; 
}

.sidebar_list {
    list-style: none; 
    padding: 0;
}

.sidebar_link {
    display: block;
    padding: 10px;
    text-decoration: none;
    font-size: 18px;
    color: black;
}

.sidebar_link:hover {
    background-color: #EAEAEA; 
}

.input_section {
    margin-top: 24px;
}
