:root {
    --header-background-color: #333; 
    --nav-item-default-color: #aaa; 
    --nav-item-active-color: #fff; 
    --logo-size: 150px; 
    --icon-size: 30px; 
    --header-height: 100px; 
  }
  
  body {
    font-family: 'Roboto', sans-serif; 
  }
  
  .header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 16px;
    background-color: var(--header-background-color);
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    width: 100%;
    height: var(--header-height);
  }
  
  .left-section,
  .right-section {
    display: flex;
    align-items: center;
    gap: 96px;
  }
  
  .logo-container {
    display: flex;
    justify-content: center;
    flex: 1;
  }
  
  .logo {
    width: var(--logo-size);
    height: var(--logo-size);
  }
  
  .left-section {
    margin-right: auto;
    margin-left: 300px; 
  }
  
  .right-section {
    margin-left: auto;
    margin-right: 500px; 
  }
  
  .nav-item {
    display: flex;
    align-items: center;
    gap: 8px;
    color: var(--nav-item-default-color);
    cursor: pointer;
    font-size: 1.2em; 
  }
  
  .nav-item.active {
    color: var(--nav-item-active-color);
  }
  
  .nav-text {
    text-decoration: none;
    color: inherit;
  }
  
  .icon {
    width: var(--icon-size);
    height: var(--icon-size);
  }
  /*..*/